<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Klasor" value="D:\Belgeler\Works\dotNet\ContentReplacer\ContentReplacer\TestData" />
    <add key="Uzanti" value="TXT" />
    <add key="EskiDeger" value="Genel Kültür" />
    <add key="YeniDeger" value="İptal Edildi..!" />
  </appSettings>
</configuration>